/* LittleLisa project debug page
author: Catlin Roman
date: april 8th 2024
file: index.css

styles for main debug page-- mobile first*/

/*

default: 1
small: 1.05
paragraph default: 1.6

letter spacing
0.5px
0.75px

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

==============02 - colors
#131516
#160729
#171856
#243771
#416e8f
#dbf3f1
=======05 SHAWDOWS

=======06 BOARDER-RADIUS
defaul: 8px
=======07 WITESPACE
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* =================== */
/* GENERAL */
/* =================== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /*equivalent to 10%*/
  font-size: 62.5%;
}
body {
  background-color: #1a1a1a;
  font-family: "Red Hat mono", monospace;
  /* font-family: monospace; */
  font-size: 2.4rem;
  color: #dbf3f1;
}

main {
  padding: 0 2.4rem;
}
section,
header {
  margin-bottom: 4.4rem;
}
.subheading {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  grid-row: 1;
  grid-column: 1;
  font-size: 2.4rem;
}

.invisible {
  visibility: hidden;
}
.hidden {
  display: none;
}
.overflow-hide {
  overflow: hidden;
}
