/* LittleLisa project debug page
author: Catlin Roman
date: april 8th 2024
file: index.css

styles for main debug page-- mobile first*/

/*

default: 1
small: 1.05
paragraph default: 1.6

letter spacing
0.5px
0.75px

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

==============02 - colors
#131516
#160729
#171856
#243771
#416e8f
#dbf3f1
=======05 SHAWDOWS

=======06 BOARDER-RADIUS
defaul: 8px
=======07 WITESPACE
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* =================== */
/* HEADER */
/* =================== */
header {
  display: grid;
  grid-template-columns: 10fr 1fr;
}
.menu-select {
  grid-column: 2;
  grid-row: 1;
}
.overlay {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 90%;
  margin: 2rem;
  margin-top: 57%;
  /* background-color: #222121; */
  height: 100vh;
}

.nav-btn {
  font-family: inherit;
  padding: 1rem 2.4rem;
  background-color: #222121;
  border: 2px solid #dbf3f1;
  color: #dbf3f1;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 2.4rem;
  border-radius: 9px;
}
.nav-btn:hover {
  color: #ee5b5b;
}
.close {
  color: #ee5b5b;
}

.header-menu-icon {
  width: 4rem;
  color: #dbf3f1;
  margin: 1rem;
  margin-top: 2rem;
}
.header-menu-icon:hover {
  color: #ee5b5b;
}

.title-box {
  font-size: 1.6rem;
  margin: 0 2rem;
  margin-top: 2rem;
  grid-column: 1;
  line-height: 3rem;
}
/* =================== */
/* SECTION_STATUS */
/* =================== */
.section-status {
}
.status {
  border: 2px solid #dbf3f1;
  border-radius: 9px;
  padding: 1.2rem;
  padding-left: 2.4rem;
  line-height: 2.4rem;
  font-size: 1.6rem;
  background-color: #222121;
}

.internal-db-status,
.external-db-status,
.uptime {
  color: green;
}
/* =================== */
/* SECTION_ONLINE_CONNECTIONS */
/* =================== */
.section-online-connections {
}
.online-connections {
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
  justify-content: center;
}
.subheading {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}
.online-connection-btn {
  font-family: inherit;
  width: 100%;
  padding: 0.8rem 1.6rem;
  background-color: #222121;
  border: 2px solid #dbf3f1;
  color: #dbf3f1;
  font-size: 2.4rem;
  border-radius: 9px;
  margin-bottom: 1rem;
}
.online-connection-btn a {
  color: #dbf3f1;
  text-decoration: none;
}
.online-connection-btn a:focus-visible {
  outline: none;
}

.online-connection-btn:hover {
  color: #ee5b5b;
}
.online-connection-btn p {
  color: orange;
  font-size: 2rem;
  line-height: 2;
}
.loc-rssi {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.rssi {
  border: 2px solid white;
  padding: 0 1rem;
  border-radius: 9px;

  color: #dbf3f1 !important;
}
button:focus,
a:focus {
  outline: none !important;
}

/* =================== */
/* SECTION_LOG_OUTPUT */
/* =================== */
.log-output {
  width: 100%;
  height: 25rem;
  text-align: left;
  direction: ltr;
  line-height: 1.4rem;
  color: green;
  overflow-y: auto;
  resize: none;
  font-family: monospace;
  background-color: #222121;
  border: 2px solid #dbf3f1;
  padding: 1rem;
  font-size: 1.1rem;
  user-select: none;
}

/* =================== */
/* SECTION_SENSOR_DATA */
/* =================== */

.section-sensor-data {
}
.sensor-data-node-box .subheading {
  padding-left: 1rem;
}
.sensor-summary {
  display: grid;
  grid-template-columns: 4fr 1fr;
  border: 2px solid #dbf3f1;
  /* border-radius: 9px; */
  padding: 1.2rem;

  line-height: 2.4rem;
  font-size: 1.6rem;
  background-color: #222121;
  margin-bottom: 2rem;
}
.sensor-avg {
  font-size: 2.4rem;
}
.timestamp {
  font-size: 1.6rem;
  color: #ee5b5b;
}
.sensor-readings-box {
  padding: 0 1.6rem;
  font-size: 2rem;
  color: #dbf3f1;
}
.sensor-reading {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
  padding: 1rem;
  border-bottom: 2px solid;
  gap: 0.2rem;
}
ul {
  list-style: none;
}
.sensor-value {
  color: green;
  font-weight: 700;
}
.sensor-location {
  color: orange;
}

.sensor-type .subheading {
  margin: 0;
  font-weight: 500;
  margin-top: 1rem;
}
.sensor-location-pin-header {
  margin: 0.2rem;
  display: grid;
  justify-content: space-between;
  font-size: 1.6rem;
  grid-template-columns: 1fr 1fr;
}
.pin {
  justify-self: end;
  grid-column: 2;
  grid-row: 1;
}
.location-label {
  grid-column: 1;
  grid-row: 1;
}
.sensor-location {
  padding-left: 1rem;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
}
.values {
  display: flex;
  justify-content: space-around;
}
.green {
  color: green;
}
.node-title {
}
.value-avg-box {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.status-uptime {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.uptime {
  align-self: center;
}
/* .value-avg-box p {
  align-self: last baseline;
} */
.body-disabled {
  pointer-events: none;
}
