*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  background-color: black;
}
body{
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.6rem;
}
.first-sight{
  height: 100vh;
}
.nav-logo,
.nav-links,
.nav-socialLogin,
.nav-socialLogin .social,

nav{
  display:flex;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
  
}

.hero {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5fr 10fr 80fr 5fr;
  height:90%;

  margin: 1rem;
  background-color:brown;
  border-radius: 2rem;
  padding: 1rem;
  
}
.bottom-border{
  grid-column-start: 1;
  grid-column-end: 3;

  background-image: url("../javascript.svg");
  background-repeat: repeat-x;
  background-size: contain;
  align-items: end;
 height:50px;
}

