

menu "NVS Module Info"





    choice
        prompt "Select Module Type"

        config MODULE_TYPE_NODE
            bool "node"

        config MODULE_TYPE_CONTROLLER
            bool "controller"

    endchoice

    config MODULE_LOCATION
        string "Module Location"
        default "UNKNOWN"
        help
            Module location description

    config GREENHOUSE_ID
        int "Greenhouse id"
        default 1


    config ZONE_ID
        int "zone id"
        default 1


    choice
        prompt "select location type"

        config SQUARE_POS
            bool "square id"
            depends on ZONE_ID > 1

        config ZN_REL_POS
            bool "zone relative"

        help
            select square id
    endchoice

    config SQUARE_POS_ROW
        depends on SQUARE_POS
        int "square row"
        default 1

    config SQUARE_POS_COL
        depends on SQUARE_POS
        int "square column"
        default 1


    config ZN_REL_POS_X
        int "x coordinate"
        default 0
        depends on ZN_REL_POS
    config ZN_REL_POS_Y
        int "y coordinate"
        default 0
        depends on ZN_REL_POS
    config ZN_REL_POS_Z
        int "z coordinate"
        default 0
        depends on ZN_REL_POS


    menu "Sensor List"

        config SENSOR_DHT22
            int "DHT22"
            default 0
            range 0 5

            config SENSOR_SOIL_MOISTURE
                int "Soil Moisture"
                default 0
                range 0 5

                config SENSOR_LIGHT
                    int "Light"
                    default 0
                    range 0 5

                    config SENSOR_SOUND
                        int "Sound"
                        default 0
                        range 0 5


         config SENSOR_MOVEMENT
            int "Movement"
            default 0
            range 0 5

            config SENSOR_CAMERA
                int "Camera"
                default 0
                range 0 5

            menu "DHT22 Sensor Info"
                menu "sensor 1"
                config SENSOR_DHT22_1_LOCATION
                    string "Location of Temp Sensor 1"
                    default "Unknown"
                    depends on SENSOR_DHT22 >= 1

                    config SENSOR_DHT22_1_PIN
                        int "Pin Number of Temp Sensor 1"
                        default 0
                        range 0 35
                        depends on SENSOR_DHT22 >= 1

                        choice
                            prompt "select location type for sensor 1"
                            depends on SENSOR_DHT22 >= 1
                            config SQUARE_POS_DHT22_1
                                bool "square id"
                                depends on ZONE_ID > 1

                            config ZN_REL_POS_DHT22_1
                                bool "zone relative"


                            help
                                select square id
                        endchoice

                        config SQUARE_POS_ROW_DHT22_1
                            depends on SQUARE_POS_DHT22_1
                            int "sensor 1 square row"
                            default 1

                        config SQUARE_POS_COL_DHT22_1
                            depends on SQUARE_POS_DHT22_1
                            int "sensor 1 square column"
                            default 1


                        config ZN_REL_POS_X_DHT22_1
                            int "sensor 1 x coordinate"
                            default 0
                            depends on ZN_REL_POS_DHT22_1
                        config ZN_REL_POS_Y_DHT22_1
                            int "sensor 1 y coordinate"
                            default 0
                            depends on ZN_REL_POS_DHT22_1
                        config ZN_REL_POS_Z_DHT22_1
                            int "sensor 1 z coordinate"
                            default 0
                            depends on ZN_REL_POS_DHT22_1


                    endmenu


                    menu "sensor 2"
                        config SENSOR_DHT22_2_LOCATION
                            string "Location of Temp Sensor 2"
                            default "Unknown"
                            depends on SENSOR_DHT22 >= 2

                            config SENSOR_DHT22_2_PIN
                                int "Pin Number of Temp Sensor 2"
                                default 0
                                range 0 35
                                depends on SENSOR_DHT22 >= 2


                                    choice
                                        prompt "select location type for sensor 2"
                                        depends on SENSOR_DHT22 >= 2
                                        config SQUARE_POS_DHT22_2
                                            bool "square id"
                                            depends on ZONE_ID > 1

                                        config ZN_REL_POS_DHT22_2
                                            bool "zone relative"


                                        help
                                            select square id
                                    endchoice

                                    config SQUARE_POS_ROW_DHT22_2
                                        depends on SQUARE_POS_DHT22_2
                                        int "sensor 2 square row"
                                        default 1

                                    config SQUARE_POS_COL_DHT22_2
                                        depends on SQUARE_POS_DHT22_2
                                        int "sensor 2 square column"
                                        default 1


                                    config ZN_REL_POS_X_DHT22_2
                                        int "sensor 2 x coordinate"
                                        default 0
                                        depends on ZN_REL_POS_DHT22_2
                                    config ZN_REL_POS_Y_DHT22_2
                                        int "sensor 2 y coordinate"
                                        default 0
                                        depends on ZN_REL_POS_DHT22_2
                                    config ZN_REL_POS_Z_DHT22_2
                                        int "sensor 2 z coordinate"
                                        default 0
                                        depends on ZN_REL_POS_DHT22_2


                                endmenu








                                menu "sensor 3"

                config SENSOR_DHT22_3_LOCATION
                    string "Location of Temp Sensor 3"
                    default "Unknown"
                    depends on SENSOR_DHT22 >= 3

                    config SENSOR_DHT22_3_PIN
                        int "Pin Number of Temp Sensor 3"
                        default 0
                        range 0 35
                        depends on SENSOR_DHT22 >= 3




                                        choice
                                            prompt "select location type for sensor 3"
                                            depends on SENSOR_DHT22 >= 3
                                            config SQUARE_POS_DHT22_3
                                                bool "square id"
                                                depends on ZONE_ID > 1

                                            config ZN_REL_POS_DHT22_3
                                                bool "zone relative"


                                            help
                                                select square id
                                        endchoice

                                        config SQUARE_POS_ROW_DHT22_3
                                            depends on SQUARE_POS_DHT22_3
                                            int "sensor 3 square row"
                                            default 1

                                        config SQUARE_POS_COL_DHT22_3
                                            depends on SQUARE_POS_DHT22_3
                                            int "sensor 3 square column"
                                            default 1


                                        config ZN_REL_POS_X_DHT22_3
                                            int "sensor 3 x coordinate"
                                            default 0
                                            depends on ZN_REL_POS_DHT22_3
                                        config ZN_REL_POS_Y_DHT22_3
                                            int "sensor 3 y coordinate"
                                            default 0
                                            depends on ZN_REL_POS_DHT22_3
                                        config ZN_REL_POS_Z_DHT22_3
                                            int "sensor 3 z coordinate"
                                            default 0
                                            depends on ZN_REL_POS_DHT22_3


                                    endmenu











                                    menu "sensor 4"
                config SENSOR_DHT22_4_LOCATION
                    string "Location of Temp Sensor 4"
                    default "Unknown"
                    depends on SENSOR_DHT22 >= 4

                    config SENSOR_DHT22_4_PIN
                        int "Pin Number of Temp Sensor 4"
                        default 0
                        range 0 35
                        depends on SENSOR_DHT22 >= 4






                                        choice
                                            prompt "select location type for sensor 4"
                                            depends on SENSOR_DHT22 >= 4
                                            config SQUARE_POS_DHT22_4
                                                bool "square id"
                                                depends on ZONE_ID > 1

                                            config ZN_REL_POS_DHT22_4
                                                bool "zone relative"


                                            help
                                                select square id
                                        endchoice

                                        config SQUARE_POS_ROW_DHT22_4
                                            depends on SQUARE_POS_DHT22_4
                                            int "sensor 4 square row"
                                            default 1

                                        config SQUARE_POS_COL_DHT22_4
                                            depends on SQUARE_POS_DHT22_4
                                            int "sensor 4 square column"
                                            default 1


                                        config ZN_REL_POS_X_DHT22_4
                                            int "sensor 4 x coordinate"
                                            default 0
                                            depends on ZN_REL_POS_DHT22_4
                                        config ZN_REL_POS_Y_DHT22_4
                                            int "sensor 4 y coordinate"
                                            default 0
                                            depends on ZN_REL_POS_DHT22_4
                                        config ZN_REL_POS_Z_DHT22_4
                                            int "sensor 4 z coordinate"
                                            default 0
                                            depends on ZN_REL_POS_DHT22_4


                                    endmenu





                                    menu "sensor 5"

                config SENSOR_DHT22_5_LOCATION
                    string "Location of Temp Sensor 5"
                    default "Unknown"
                    depends on SENSOR_DHT22 >= 5

                    config SENSOR_DHT22_5_PIN
                        int "Pin Number of Temp Sensor 5"
                        default 0
                        range 0 35
                        depends on SENSOR_DHT22 >= 5






                                        choice
                                            prompt "select location type for sensor 5"
                                            depends on SENSOR_DHT22 >= 5
                                            config SQUARE_POS_DHT22_5
                                                bool "square id"
                                                depends on ZONE_ID > 1

                                            config ZN_REL_POS_DHT22_5
                                                bool "zone relative"


                                            help
                                                select square id
                                        endchoice

                                        config SQUARE_POS_ROW_DHT22_5
                                            depends on SQUARE_POS_DHT22_5
                                            int "sensor 5 square row"
                                            default 1

                                        config SQUARE_POS_COL_DHT22_5
                                            depends on SQUARE_POS_DHT22_5
                                            int "sensor 5 square column"
                                            default 1


                                        config ZN_REL_POS_X_DHT22_5
                                            int "sensor 5 x coordinate"
                                            default 0
                                            depends on ZN_REL_POS_DHT22_5
                                        config ZN_REL_POS_Y_DHT22_5
                                            int "sensor 5 y coordinate"
                                            default 0
                                            depends on ZN_REL_POS_DHT22_5
                                        config ZN_REL_POS_Z_DHT22_5
                                            int "sensor 5 z coordinate"
                                            default 0
                                            depends on ZN_REL_POS_DHT22_5


                                    endmenu






            endmenu


            menu "Soil Moisture Sensor Locations"

                config SENSOR_SOIL_MOISTURE_1_LOCATION
                    string "Location of Soil Moisture Sensor 1"
                    default "Unknown"
                    depends on SENSOR_SOIL_MOISTURE >= 1

                    config SENSOR_SOIL_MOISTURE_1_PIN
                        int "Pin Number of Soil Moisture Sensor 1"
                        default 0
                        range 0 35
                        depends on SENSOR_SOIL_MOISTURE >= 1

                config SENSOR_SOIL_MOISTURE_2_LOCATION
                    string "Location of Soil Moisture Sensor 2"
                    default "Unknown"
                    depends on SENSOR_SOIL_MOISTURE >= 2

                    config SENSOR_SOIL_MOISTURE_2_PIN
                        int "Pin Number of Soil Moisture Sensor 2"
                        default 0
                        range 0 35
                        depends on SENSOR_SOIL_MOISTURE >= 2

                config SENSOR_SOIL_MOISTURE_3_LOCATION
                    string "Location of Soil Moisture Sensor 3"
                    default "Unknown"
                    depends on SENSOR_SOIL_MOISTURE >= 3

                    config SENSOR_SOIL_MOISTURE_3_PIN
                        int "Pin Number of Soil Moisture Sensor 3"
                        default 0
                        range 0 35
                        depends on SENSOR_SOIL_MOISTURE >= 3

                config SENSOR_SOIL_MOISTURE_4_LOCATION
                    string "Location of Soil Moisture Sensor 4"
                    default "Unknown"
                    depends on SENSOR_SOIL_MOISTURE >= 4

                    config SENSOR_SOIL_MOISTURE_4_PIN
                        int "Pin Number of Soil Moisture Sensor 4"
                        default 0
                        range 0 35
                        depends on SENSOR_SOIL_MOISTURE >= 4

                config SENSOR_SOIL_MOISTURE_5_LOCATION
                    string "Location of Soil Moisture Sensor 5"
                    default "Unknown"
                    depends on SENSOR_SOIL_MOISTURE >= 5

                    config SENSOR_SOIL_MOISTURE_5_PIN
                        int "Pin Number of Soil Moisture Sensor 5"
                        default 0
                        range 0 35
                        depends on SENSOR_SOIL_MOISTURE >= 5

            endmenu


            menu "Light Sensor Locations"

                config SENSOR_LIGHT_1_LOCATION
                    string "Location of Light Sensor 1"
                    default "Unknown"
                    depends on SENSOR_LIGHT >= 1

                    config SENSOR_LIGHT_1_PIN
                        int "Pin Number of LIGHT Sensor 1"
                        default 0
                        range 0 35
                        depends on SENSOR_LIGHT >= 1

                config SENSOR_LIGHT_2_LOCATION
                    string "Location of Light Sensor 2"
                    default "Unknown"
                    depends on SENSOR_LIGHT >= 2

                     config SENSOR_LIGHT_2_PIN
                        int "Pin Number of LIGHT Sensor 2"
                        default 0
                        range 0 35
                        depends on SENSOR_LIGHT >= 2

                config SENSOR_LIGHT_3_LOCATION
                    string "Location of Light Sensor 3"
                    default "Unknown"
                    depends on SENSOR_LIGHT >= 3

                     config SENSOR_LIGHT_3_PIN
                        int "Pin Number of LIGHT Sensor 3"
                        default 0
                        range 0 35
                        depends on SENSOR_LIGHT >= 3

                config SENSOR_LIGHT_4_LOCATION
                    string "Location of Light Sensor 4"
                    default "Unknown"
                    depends on SENSOR_LIGHT >= 4

                     config SENSOR_LIGHT_4_PIN
                        int "Pin Number of LIGHT Sensor 4"
                        default 0
                        range 0 35
                        depends on SENSOR_LIGHT >= 4

                config SENSOR_LIGHT_5_LOCATION
                    string "Location of Light Sensor 5"
                    default "Unknown"
                    depends on SENSOR_LIGHT >= 5

                     config SENSOR_LIGHT_5_PIN
                        int "Pin Number of LIGHT Sensor 5"
                        default 0
                        range 0 35
                        depends on SENSOR_LIGHT >= 5

            endmenu



            menu "Sound Sensor Locations"

                config SENSOR_SOUND_1_LOCATION
                    string "Location of SOUND Sensor 1"
                    default "Unknown"
                    depends on SENSOR_SOUND >= 1

                     config SENSOR_SOUND_1_PIN
                        int "Pin Number of Sound Sensor 1"
                        default 0
                        range 0 35
                        depends on SENSOR_SOUND >= 1

                config SENSOR_SOUND_2_LOCATION
                    string "Location of SOUND Sensor 2"
                    default "Unknown"
                    depends on SENSOR_SOUND >= 2

                    config SENSOR_SOUND_2_PIN
                        int "Pin Number of Sound Sensor 2"
                        default 0
                        range 0 35
                        depends on SENSOR_SOUND >= 2

                config SENSOR_SOUND_3_LOCATION
                    string "Location of SOUND Sensor 3"
                    default "Unknown"
                    depends on SENSOR_SOUND >= 3

                    config SENSOR_SOUND_3_PIN
                        int "Pin Number of Sound Sensor 3"
                        default 0
                        range 0 35
                        depends on SENSOR_SOUND >= 3

                config SENSOR_SOUND_4_LOCATION
                    string "Location of SOUND Sensor 4"
                    default "Unknown"
                    depends on SENSOR_SOUND >= 4

                    config SENSOR_SOUND_4_PIN
                        int "Pin Number of Sound Sensor 4"
                        default 0
                        range 0 35
                        depends on SENSOR_SOUND >= 4

                config SENSOR_SOUND_5_LOCATION
                    string "Location of SOUND Sensor 5"
                    default "Unknown"
                    depends on SENSOR_SOUND >= 5

                    config SENSOR_SOUND_5_PIN
                        int "Pin Number of Sound Sensor 5"
                        default 0
                        range 0 35
                        depends on SENSOR_SOUND >= 5

            endmenu


            menu "Movement Sensor Locations"

                config SENSOR_MOVEMENT_1_LOCATION
                    string "Location of Movement Sensor 1"
                    default "Unknown"
                    depends on SENSOR_MOVEMENT >= 1

                    config SENSOR_MOVEMENT_1_PIN
                        int "Pin Number of Movement Sensor 1"
                        default 0
                        range 0 35
                        depends on SENSOR_MOVEMENT >= 1

                config SENSOR_MOVEMENT_2_LOCATION
                    string "Location of Movement Sensor 2"
                    default "Unknown"
                    depends on SENSOR_MOVEMENT >= 2

                    config SENSOR_MOVEMENT_2_PIN
                        int "Pin Number of Movement Sensor 2"
                        default 0
                        range 0 35
                        depends on SENSOR_MOVEMENT >= 2

                config SENSOR_MOVEMENT_3_LOCATION
                    string "Location of Movement Sensor 3"
                    default "Unknown"
                    depends on SENSOR_MOVEMENT >= 3

                    config SENSOR_MOVEMENT_3_PIN
                        int "Pin Number of Movement Sensor 3"
                        default 0
                        range 0 35
                        depends on SENSOR_MOVEMENT >= 3

                config SENSOR_MOVEMENT_4_LOCATION
                    string "Location of Movement Sensor 4"
                    default "Unknown"
                    depends on SENSOR_MOVEMENT >= 4

                    config SENSOR_MOVEMENT_4_PIN
                        int "Pin Number of Movement Sensor 4"
                        default 0
                        range 0 35
                        depends on SENSOR_MOVEMENT >= 4

                config SENSOR_MOVEMENT_5_LOCATION
                    string "Location of Movement Sensor 5"
                    default "Unknown"
                    depends on SENSOR_MOVEMENT >= 5

                    config SENSOR_MOVEMENT_5_PIN
                        int "Pin Number of Movement Sensor 5"
                        default 0
                        range 0 35
                        depends on SENSOR_MOVEMENT >= 5

            endmenu



            menu "Camera Locations"

                config SENSOR_CAMERA_1_LOCATION
                    string "Location of Camera 1"
                    default "Unknown"
                    depends on SENSOR_CAMERA >= 1

                    config SENSOR_CAMERA_1_PIN
                        int "Pin Number of Camera 1"
                        default 0
                        range 0 35
                        depends on SENSOR_CAMERA >= 1

                config SENSOR_CAMERA_2_LOCATION
                    string "Location of Camera 2"
                    default "Unknown"
                    depends on SENSOR_CAMERA >= 2

                    config SENSOR_CAMERA_2_PIN
                        int "Pin Number of Camera 2"
                        default 0
                        range 0 35
                        depends on SENSOR_CAMERA >= 2

                config SENSOR_CAMERA_3_LOCATION
                    string "Location of Camera 3"
                    default "Unknown"
                    depends on SENSOR_CAMERA >= 3

                    config SENSOR_CAMERA_3_PIN
                        int "Pin Number of Camera 3"
                        default 0
                        range 0 35
                        depends on SENSOR_CAMERA >= 3

                config SENSOR_CAMERA_4_LOCATION
                    string "Location of Camera 4"
                    default "Unknown"
                    depends on SENSOR_CAMERA >= 4

                    config SENSOR_CAMERA_4_PIN
                        int "Pin Number of Camera 4"
                        default 0
                        range 0 35
                        depends on SENSOR_CAMERA >= 4

                config SENSOR_CAMERA_5_LOCATION
                    string "Location of Camera 5"
                    default "Unknown"
                    depends on SENSOR_CAMERA >= 5

                    config SENSOR_CAMERA_5_PIN
                        int "Pin Number of Camera 5"
                        default 0
                        range 0 35
                        depends on SENSOR_CAMERA >= 5

            endmenu

    endmenu

endmenu